@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
  margin: 0;
}
body{
  background-color: #000000ed;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a{
  text-decoration: none;
  color: #413c0e;
  margin-top: 10px;
}

.float-square{
  position: fixed;
  border-radius: 100%;
  opacity: 0.2;
  z-index: -1;
}

/* Nav bar */
.navbar{
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 15px;
  left: 0;
  margin: 0 2em;
  width: calc(100% - 10em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 2em 2em 2em 4em;
  border-radius: 30px;
  z-index: 999;
}

.navbar-logo{
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1.5rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #ffffff;
}

.navbar-logo:hover {
  color: #ff8c37;
}

.navbar-add{
 position: absolute;
 right: 2em;  
 background-color: #ffffff;
 color: #000000ed;
 padding: 10px;
 border-radius: 30px;
 text-align: center;
 font-size: 20px;
 transition: transform(1.2s);
}

.navbar-add:hover{
transform: scale(1.1);
}



.landing-page{
  position: absolute!important;
  min-height: 100vh;
  width: 100%;
  display: flex!important;
  justify-content: center!important;
  flex-direction: column!important;
  text-align: center!important;
  align-items: center!important;
}

.heading{
  margin-top: -10px !important;
  margin: 5px;
}

.title{
  font-size: 5em;
  font-weight: 700;
}

.heading p{
  font-size: 1.4em;
  color: #33d6a6;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.btn{
  letter-spacing: -.02em;
  padding: .7rem 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .5125rem;
  margin: 10px;
}

.btn-white{
  background-color: aliceblue;
  color: #439f84;
  border: 4px solid #31cc9f99;
}

.back-btn {
  font-size: 13px; 
  padding: 8px;
  cursor: pointer;
  font-weight: 800;
  margin: 0;
}
.back-btn:hover {
  background-color: #2934409c;
}

.explore-btn:hover {
  background-color: #2934409c;
}


/* Search Bar */
form{
 
  display: flex;
  position: relative;
}

.search-icon{
  position: absolute;
  top: 0.2rem;  
  right: 0.2rem;
  background:#000000ed;
  fill: #fff;
  border-radius:5rem;
  padding: 0.5rem;
  cursor: pointer;
}

#inputField{
  font-family: 'Poppins',sans;
  background: #fff;
  border: 0px;
  border-radius: 5rem;
  padding: 0.8rem 2.5rem 0.8rem 1rem;

}

#inputField:focus{
 outline: none;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 2em;
}

.profile-card {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 15px;
  min-width: 230px;
  max-width: 250px;
  width: 100%;
  max-height:280px;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius:10px;
}

.profile-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-card .profile-image {
  padding: 6% 5% 0;
}

.profile-card .profile-image img {
  width:100px;
  height:100px;
  vertical-align: top;
  position: relative;
  border-radius: 50%;

}

.profile-card figcaption {
  padding: 5% 10% 15%;
}

.profile-card h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin: 3px 0;
}

.profile-card h5 {
  font-size:10px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.profile-card .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 0.5px;
}

.profile-card .icons i:hover {
  color: #555;
}

.profile-card .icons i a {
  text-decoration: none;
}

.profile-card .icons img{
  height:18%;
  width:18%;
}
.profile-card p{
  font-size:12px;
}
.footer{
  width: 100%;
  height: 28px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center; 
  padding: 5px;
  background-color: rgb(100, 100, 100);
}

.footer-text a{
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.footer-text a:hover{
  color:#ff8c37;
}


/* Media Queries */
@media only screen and (max-width: 1070px) {
  .navbar-logo{
    display: none;
  }
  .navbar-add{
    font-size: 1rem;
  }
  .landing-page img{
    width: 100px;
  }
  .title{
    font-size: 2.5em;
  }
  .heading p{
    font-size: 1.2em;
  }
  .footer{
    padding-bottom: 10px;
    position: relative;
  }
  .footer-text{
    font-weight: 500;
    font-size: 0.7em;
  }
}